[user]
	username=usrrname
	name = Jen Chan
	email = 6406037+usrrname@users.noreply.github.com
  signingkey = ~/.ssh/id_rsa.pub
[color]
	ui = auto

[core]
  	editor = nvim
	excludesFile = ~/.gitignore_global

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[push]
  autoSetupRemote = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[alias]
	g = "git"
	gco="git checkout"
	gst="git status"
	# create worktree branch within a repo and checkout
	# @example
	# git wa <branch-name> | g wa <branch-name>
	wa = "!f() { git worktree add -b \"$1\" \"../$1\"; cp ./.env \"../$1/.env\"; cd \"../$1\"; }; f"
	# git wr <branch-name> | g wr <branch-name>
	wr = "!f() { git worktree remove \"../$1\"; }; f"
	# git wl | g wl
	wl = "!f() { git worktree list; }; f"
	# git wcl | g wcl
	wcl = "!f() { git worktree clean -d; }; f"