# -------Shell variables ------------
export EDITOR='nvim' # default editor
export GEMINI_API_KEY=op://Private/gemini-api-key/Section_ii4mbjcvu4c3rvzmu2c2gkfqxa/api-key
export NVM_DIR="$HOME/.nvm"
export PROMPT='~🧻 '
export CLAUDE_API_KEY=op://Private/Claude default credentials/api-key
export GITHUB_TOKEN=op://Private/GitHub default credentials/token

# ------------ Paths ------------
# fnm
export PATH="/Users/jenc/Library/Application Support/fnm:$PATH"
# mysql
export PATH="/opt/homebrew/opt/mysql/bin:$PATH"
export PATH="/opt/homebrew/opt/mysql@8.0/bin:$PATH"
export PATH="/opt/homebrew/opt/mysql@8.4/bin:$PATH"
export PATH="/opt/homebrew/opt/mysql-client/bin:$PATH"
# For compilers to find mysql-client:
export LDFLAGS="-L/opt/homebrew/opt/mysql-client/lib"
export CPPFLAGS="-I/opt/homebrew/opt/mysql-client/include"

# For pkg-config to find mysql-client you may need to set:
export PKG_CONFIG_PATH="/opt/homebrew/opt/mysql-client/lib/pkgconfig"