.DS_Store
\.DS_Store
node_modules/**
Makefile
*.pem
*.key
*.pub
id_rsa*
cache/**
extensions/**
**/extensions/**
tmp/**
**/tmp/**
temp/**
.zsh_history
cache/**
.vscode/**
.netrwhist
.zsh_sessions/**
(.config|config)/**/(temp|tmp)/**
.config/configstore/**
verdaccio/htpasswd
.config/yarn/**
.*history
known_hosts*
(.gemini|gemini)/oauth_creds.json
(.gemini|gemini)/tmp/**
htpasswd
oauth_creds.json
*.vscode
.env